body {
  margin: 0;
  font-family: Arial, sans-serif;
  /*background-color: #e6dfc8;  light background 
    background: linear-gradient(to right, #f2fcfe, #1c92d2); */
  background-image: url("bg5.png");

  background-size: cover;
  background-position: 50% 30%;
}
/* navbar */
.navbar {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  padding: 8px;
  border-radius: 0px 0px 16px 16px;
  height: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
}

/* Center container */
.container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 70px);
}

/* card */
.card {
  padding: 20px 20px;
  border-radius: 20px;
  width: 60%;
  max-width: 650px;
  text-align: center;
  transition: all 0.3s ease;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

/* Hover effect */
.card:hover {
  /* background: linear-gradient(
    135deg,
    rgba(34, 107, 197, 0.5),
    rgba(59, 130, 246, 0.5)
  ); */
  border: 2px solid #07123d;
}
/* Small top box */
.txtbox {
  color: #07123d;
  padding: 5px;

  margin-bottom: 10px;
}

/* Input field */
.inputbox {
  width: 75%;
  padding: 15px;
  border-radius: 12px;
  margin-bottom: 10px;
  background-color: white;
  margin-bottom: 20px;
  border: 2px solid #07123d;
}

/* Button */
.btn {
  border-radius: 12px;

  cursor: pointer;
  border: 2px solid #07123d;
  color: #07123d;
  background: white;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  outline: 0;
  padding: 12px 20px;
  text-align: center;
  transition-duration: 0.15s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover {
  background: #07123d;
  color: #fff;
}

p {
  color: #07123d;
  font-size: 22px;
  margin: 10px;
}

.navDiv {
  margin-left: 20px;
  font-size: 22px;
  font-weight: 600;
  background-color: #07123d;
  padding: 10px 20px;
  border-radius: 12px;
  display: flex;
  align-items: center;
}
.logo {
  color: white;
}
